.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn{
  margin: 2px;;
}
.divbtn{
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Sidebar.css */
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #333;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.sidebar-toggle {
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin: 50px 0 0 0;
}

.sidebar-links li {
  margin: 0;
  padding: 0;
}

.sidebar-links a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sidebar-links a:hover {
  background-color: #555;
}
